
.ilike-blue-container {
@extend .blue, .lighten-4;
}


/*general*/
.background{
    background-color:#BBD2E1
}
/*Promotions et eleves cartes*/
figure {
    float :left;
    width : 260px;
    display :block;
    padding : 6px;
    background : white;
    margin : 0 11px 0px 0;
    border :solid 1px #888888;
    border-radius : 8px ;
    -moz-border-radius : 8px ;
    -webkit-border-radius : 8px ;
}

figcaption {
    font-size : .8em;
    padding : 6px 8px;
    background : #dddddd;
    display :block;
    text-align :center;
    font-family : georgia, serif;
    font-style : italic;
    border-radius : 0 0 7px 7px ;
    -moz-border-radius : 0 0 7px 7px ;
    -webkit-border-radius : 0 0 7px 7px ;
}


img {
    background : #eeeeee;
    padding : 5px;
    border : solid 1px #444444;
}
/*fin*/


/*mise en page crud*/

.titre{
    text-align: center;
    font-size: 40px;
}

.action{
    text-align: right;
}

.button-centre{
    text-align: center;
}

.nom{
    text-align: center;
}

/*modal eleve new dans promotion new*/

/* The Modal (background) */
.modal {
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}