
.ilike-blue-container {
@extend .blue, .lighten-4;
}


/*general*/
.background{
    background-color:#BBD2E1
}
/*Promotions et eleves cartes*/
figure {
    float :left;
    width : 260px;
    display :block;
    padding : 6px;
    background : white;
    margin : 0 11px 0px 0;
    border :solid 1px #888888;
    border-radius : 8px ;
    -moz-border-radius : 8px ;
    -webkit-border-radius : 8px ;
}

figcaption {
    font-size : .8em;
    padding : 6px 8px;
    background : #dddddd;
    display :block;
    text-align :center;
    font-family : georgia, serif;
    font-style : italic;
    border-radius : 0 0 7px 7px ;
    -moz-border-radius : 0 0 7px 7px ;
    -webkit-border-radius : 0 0 7px 7px ;
}


img {
    background : #eeeeee;
    padding : 5px;
    border : solid 1px #444444;
}
/*fin*/

/*checkbox edit archive*/
input {
    -webkit-appearance: textfield;
    background-color: white;
    color: black;
}


/* WEBKIT CHECKBOX Edit PROMOTION/ELEVE */
input[type=checkbox]
{
    -webkit-appearance:checkbox;
}
/*fin*/

/*mise en page crud*/

.titre{
    text-align: center;
}

.action{
    text-align: right;
}

.button-centre{
    text-align: center;
}

.nom{
    text-align: center;
}