{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Module list</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col m8 offset-m2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th class="nom">Nom</th>
                        <th class="action">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for module in modules %}
                    <tr>
                        <td>{{ module.numero }}</td>
                        <td class="nom">{{ module.nom }}</td>
                        <td>
                            <ul>
                                <li class="action">
                                    <a href="{{ path('module_edit', { 'id': module.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <ul>
        <li class="button-centre">
            <a class="btn btn-default edit_admin" href="{{ path('module_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
