{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="titre">Liste des intervenants</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col m8 offset-m2">
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th class="action">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for intervenant in intervenants %}
                    <tr>
                        <td>{{ intervenant.nom }}</td>
                        <td>
                            <ul>
                                <li class="action">
                                    <a href="{{ path('intervenant_edit', { 'id': intervenant.id }) }}">Editer</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

    <ul>
        <li class="button-centre">
            <a class="btn btn-default edit_admin" href="{{ path('intervenant_new') }}">Créer un nouvel intervenant</a>
        </li>
    </ul>
{% endblock %}
